@keyframes open {
  0% { opacity: 0.2; transform: translateY(10%);}
  70% { opacity: 0.9; transform: translateY(-3%);}
  100% { opacity: 1; transform: none;}
}
#Card-Link{
  animation-name: open;
  animation-duration: 1s;
  animation-iteration-count: 1;
  overflow: hidden;
}
