@keyframes tsFadeIn {
  0%   {opacity: 0}
  100% {opacity: 1}
}
@keyframes overlay{
        0%   {opacity: 0}
        100% {opacity: 0.5}
}
.ts-enter {
  animation-name: tsFadeIn;
  animation-duration: .5s;
  display: block;
}

@keyframes tsSlideBottom {
  0%   {transform: scaleY(0)}
  100% {transform: scaleY(1)}
}
.enter-slide-bottom{
  transform-origin: top;
  animation-name: tsSlideBottom;
  animation-duration: .3s;
  animation-iteration-count: 1;
}

@keyframes tsSlideRight {
  0%   {transform: scaleX(0)}
  100% {transform: scaleX(1)}
}
.enter-slide-right{
  transform-origin: left;
  animation-name: tsSlideRight;
  animation-duration: .3s;
  animation-iteration-count: 1;
}
.rotate-0{
 transform: rotate(0deg);
 transition: transform .2s ease-in-out;
}
.rotate-180{
 transform: rotate(180deg);
 transition: transform .2s ease-in-out;
}