.bg-primary-lightest{
  background-color: $ts-primary-color--lightest;
}
.cursor-pointer{
  cursor: pointer;
}
.position-relative{
  position: relative;
}
.absolute{
  position: absolute;
  &-in-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &-left {
    left: 0%;
  }
  &-right {
    left: 100%;
  }
}

// TODO refactor the code or remove because some classes are present in tailwind
