.flex{
  display: flex;
  &.wrap{
    flex-wrap: wrap;
  }
  &.align-items-center{
    align-items: center;
  }
  &.justify-content-center{
    justify-content: center;
  }
  &.justify-content-sp-around{
    justify-content: space-around;
  }
}
