.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}
.p-t-10-px{
  padding-top: 10px;
}
.m-t-10px{
  margin-top: 10px;
}
.m-b-10px{
  margin-bottom: 10px;
}
.m-r-10px{
  margin-right: 10px;
}
.m-t-20px{
  margin-top: 20px;
}
.m-b-20px{
  margin-bottom: 20px;
}
.m-r-20px{
  margin-right: 20px;
}
