p{
  line-height: 1.5rem;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-primary{
  color: $ts-primary-color;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.heading-outline{
  text-transform: uppercase;
  font-size: 0.8em;
}
@media screen and (min-width: $screen-sm-min) {
  .heading-outline{
    font-size: 0.9em;
  }
}
.text-error{
  color: $error;
  text-transform: uppercase;
  font-size: 0.75em;
}
// TODO remove duplicate classes which are already present in tailwind or refactor name if required