<div class="user-menu  px-2 cursor-pointer">
    <a [href]="host+'dashboard/settings/my-profile'">
        <div class="flex items-center border-b py-2 border-gray-300">
            <div class="mr-1 leading-none">
                <img class="rounded-full mr-2" width="45" [src]="s3BucketUrl+'/images/'+user?.s3imagename" />
            </div>
            <div appDataAnalytics eventLabel="profile" clickLocation="" class="leading-tight">
                <span class="block text-lg text-gray-800">{{user?.user}}</span>
                <span class="text-xs text-gray-600 whitespace-nowrap">View and edit profile</span>
            </div>
        </div>
    </a>
    <div class="menu mt-2 px-1">
        <ts-panel [disable]="false">
            <ts-panel-header>
                <div (click)="panelOpen1=!panelOpen1" appDataAnalytics eventLabel="organizing" clickLocation=""
                    class="px-1 py-2 flex items-center border-b  border-gray-300 justify-between"
                    [class.border-dashed]="panelOpen1" matRipple>
                    <span class="text-gray-700">
                        Organizing Events
                    </span>
                    <i class="mdi mdi-chevron-down text-2xl text-primary" [class.rotate-180]="panelOpen1"></i>
                </div>
            </ts-panel-header>
            <ts-panel-body [open]="panelOpen1">
                <div class="text-sm text-gray-800">
                    <a [href]="host+'dashboard/v2/events' + (showMobilePopup?'?showMobileMessage=true':'')">
                        <div appDataAnalytics eventLabel="manage" clickLocation="" matRipple
                            class="px-1 py-1 flex items-center">
                            <i class="mdi mdi-calendar-today mr-2 text-primary text-xl"></i>
                            Manage Events
                        </div>
                    </a>
                    <a [href]="host+'dashboard/v2/billing' + (showMobilePopup?'?showMobileMessage=true':'')">
                        <div appDataAnalytics eventLabel="billings" clickLocation="" matRipple
                            class="px-1 py-1 flex items-center">
                            <i class="mdi mdi-cash mr-2 text-primary text-xl"></i>
                            Billing
                        </div>
                    </a>
                    <a [href]="host+'dashboard/reports' + (showMobilePopup?'?showMobileMessage=true':'')">
                        <div appDataAnalytics eventLabel="reports" clickLocation="" matRipple
                            class="px-1 py-1 flex items-center">
                            <i class="mdi mdi-chart-line mr-2 text-primary text-xl"></i>
                            Reports
                        </div>
                    </a>
                    <a [href]="host+'dashboard/promo' + (showMobilePopup?'?showMobileMessage=true':'')">
                        <div appDataAnalytics eventLabel="promo" clickLocation="" matRipple
                            class="px-1 py-1 pb-2 flex items-center border-b border-gray-300">
                            <i class="mdi mdi-bullhorn mr-2 text-primary text-xl"></i>
                            Promotions
                        </div>
                    </a>
                </div>
            </ts-panel-body>
        </ts-panel>
        <ts-panel [disable]="false">
            <ts-panel-header>
                <div (click)="panelOpen2=!panelOpen2" appDataAnalytics eventLabel="attending" clickLocation=""
                    class="px-1 py-2 flex items-center border-b  border-gray-300 justify-between"
                    [class.border-dashed]="panelOpen2" matRipple>
                    <span class="text-gray-700">
                        Attending Events
                    </span>
                    <i class="mdi mdi-chevron-down text-2xl text-primary" [class.rotate-180]="panelOpen2"></i>
                </div>
            </ts-panel-header>
            <ts-panel-body [open]="panelOpen2">
                <div class="text-sm text-gray-800">
                    <a [href]="host+'dashboard/mybookings'">
                        <div appDataAnalytics eventLabel="bookings" clickLocation="" matRipple
                            class="px-1 py-1 flex items-center">
                            <i class="mdi mdi-ticket-account mr-2 text-primary text-xl"></i>
                            My Bookings
                        </div>
                    </a>
                    <a [href]="host+'dashboard/following'">
                        <div appDataAnalytics eventLabel="following" clickLocation="" matRipple
                            class="px-1 py-1 pb-2 flex items-center border-b border-gray-300">
                            <i class="mdi mdi-heart mr-2 text-primary text-xl "></i>
                            Following
                        </div>
                    </a>
                </div>
            </ts-panel-body>
        </ts-panel>
        <div appDataAnalytics eventLabel="logout" clickLocation="" class="px-1 py-2 flex items-center justify-between"
            (click)="logout()" matRipple>
            <span class="text-gray-700">
                Logout
            </span>
            <i class="mdi mdi-logout-variant text-2xl text-primary"></i>
        </div>
    </div>
</div>
