@import "../../../../assets/scss/variables";

.listing-container {
    border: 1px solid rgba(0,0,0,0.13);
    border-radius: 5px;
    font-family: Lato;
    &:hover {
        box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
        .bottom-purple-bar {
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
            background: linear-gradient(138.55deg, #A165C4 0%, #4D2370 100%);
            border-radius: 0 0 4px 0;
            i, span{
                color: white !important;
            }
            transition: 1.3s;
        }
    }
    .font-323E48 {
        color: #323E48;
    }

    .font-303030 {
        color: #303030;  
    }
    .listing-container--content {
        background-color: rgb(238, 238, 238);
        min-height: 195px;
        .bottom-purple-bar{
            transition: background 1s ease-out;
        }

        .price-container {
            font-size: 15px;
        }
    }
    .listing-container--featured-content {
        background-color: #ffffff;
        
        .bottom-purple-bar{
            transition: all 1.0s ease-in;
        }

        .price-container {
            font-size: 15px;
        }
    }
    i {
        color: #683592;
    }
    
}

.topic-container {
    font-family: Lato;
    min-height: 460px;
    .subTitle {
        color: #263240;
    }
    i {
        color: #683592;
    }

    .keywords {
        color: #683592;
        & span {
            border: 1.57px solid #683592;
        }
    }
}
