<section class="">
    <ts-header source='marketplace'></ts-header>
    <!-- <app-user-menu></app-user-menu> -->
    <br><br><br><br><br><br>
    <div>
        <a id="login" (click)="openDialog('login')">login</a>
        <br>
        <a id="sign-up" (click)="openDialog('signup')">sign up</a>
        <br>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="flex flex-wrap m-10">
      <div class="m-2" style="width: 320px">
          <ts-listings-event-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listings-event-card>
      </div>
      <div class="m-2" style="width: 320px">
          <ts-listings-event-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData2"></ts-listings-event-card>
      </div>
      <div class="m-2" style="width: 320px">
          <ts-card-skeleton  [gridType]="'grid'"></ts-card-skeleton>
      </div>

    </div>

    <div class="lg:px-48 my-3 mx-3">
        <ts-listings-event-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listings-event-card>
    </div>

    <div class="lg:px-48 my-3 mx-3 mb-10">
        <ts-listings-event-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData2"></ts-listings-event-card>
    </div>

    <div class="lg:px-48 my-3 mx-3 mb-10">
        <ts-card-skeleton  [gridType]="'list'"></ts-card-skeleton>
    </div>


    <div id="card-container" class=" px-3 md:px-42 flex-wrap mr-2 flex flex-col justify-between">
        <ts-listings-event-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listings-event-card>
        <ts-listings-event-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listings-event-card>
        <ts-listings-event-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listings-event-card>
        <span>List</span>
        <ts-listings-event-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listings-event-card>

    </div>
    <ts-listings-event-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listings-event-card>

    <ts-listings-event-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listings-event-card>
    <ts-listings-event-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listings-event-card>
    <ts-listings-event-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listings-event-card>

    <ts-listings-event-card [type]="'featured'" [eventData]="eventData"></ts-listings-event-card>
    <ts-listings-event-card [type]="'topic'" [eventData]="topicData"></ts-listings-event-card>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style="width: 360px">
        <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>
    </div>
    <div class="lg:px-48">
        <ts-listing-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listing-card>
    </div>
    <div id="card-container" class=" px-3 md:px-42 flex-wrap mr-2">
        <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>
        <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>
        <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>
        <span>List</span>
        <ts-listing-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listing-card>

    </div>
    <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>

    <ts-listing-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listing-card>
    <ts-listing-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listing-card>
    <ts-listing-card [type]="'regular'" [gridType]="'list'" [eventData]="eventData"></ts-listing-card>

    <ts-listing-card [type]="'featured'" [eventData]="eventData"></ts-listing-card>
    <ts-listing-card [type]="'topic'" [eventData]="topicData"></ts-listing-card>
    <ts-card-skeleton></ts-card-skeleton>
    <app-follow [text]="'something'" [followType]="'TOPIC'" [followTypeId]="1">
    </app-follow>
    <ts-footer source='marketplace'></ts-footer>
</section>
