<section class="">
    <ts-header source='marketplace'></ts-header>
    <!-- <app-user-menu></app-user-menu> -->
    <br><br><br><br><br><br>
    <div>
        <a id="login" (click)="openDialog('login')">login</a>
        <br>
        <a id="sign-up" (click)="openDialog('signup')">sign up</a>
        <br>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- <div id="card-container" class="max-w-sm flex-wrap mr-2">
        <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>
        <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>
        <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>

    </div>
    <ts-listing-card [type]="'regular'" [gridType]="'grid'" [eventData]="eventData"></ts-listing-card>
    <ts-listing-card [type]="'regular'" [gridType]="'list'"  [eventData]="eventData"></ts-listing-card>
    <ts-listing-card [type]="'regular'" [gridType]="'list'"  [eventData]="eventData"></ts-listing-card>
    <ts-listing-card [type]="'regular'" [gridType]="'list'"  [eventData]="eventData"></ts-listing-card>
    <ts-listing-card [type]="'regular'" [gridType]="'list'"  [eventData]="eventData"></ts-listing-card>

    <ts-listing-card [type]="'featured'" [eventData]="eventData"></ts-listing-card>
    <ts-listing-card [type]="'topic'" [eventData]="topicData"></ts-listing-card>
    <ts-card-skeleton></ts-card-skeleton> -->
    <ts-footer source='marketplace'></ts-footer>
</section>
