<div *ngIf= "condition == 'ifUnverified' " class="py-2">
        <p class="text-lg"><strong>Let's get started</strong></p>
        <p class="text-sm text-gray-500">Your one stop tool for organizing events</p>    
    </div>
    <div *ngIf= "condition == 'ifSignUp'" class="py-2">
            <p class="text-lg"><strong>Sign up</strong></p>
            <p class="text-sm text-gray-500">Welcome to Townscript</p>    
    </div>
    <div *ngIf= "condition == 'showVerifyEmail'" class="py-2">
            <p class="text-lg"><strong>You're almost done</strong></p>
            <p class="text-sm text-gray-500">We just need to verify your e-mail</p>    
    </div>
    <div *ngIf= "condition == 'ifSignIn'" class="py-3">
            <p class="text-lg"><strong>Sign in</strong></p>
    </div>
    <div *ngIf= "condition == 'showResetPassword'" class="py-3">
            <p class="text-lg"><strong>Forgot password</strong></p>
            <p class="text-sm text-gray-500">Don't worry, we'll help you reset it</p>   
    </div>
