$ts-primary-blue    : #3782C4;


/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}


/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.login-signup-view{
	max-height: 90vh;
  .fadeIn {
    .primary-header, .secondary-header{
    	-webkit-animation-duration: 0.25s;
    	animation-duration: 0.25s;
    	-webkit-animation-fill-mode: both;
    	animation-fill-mode: both;
    	-webkit-animation-delay: 0s;
    	-moz-animation-delay: 0s;
    	animation-delay: 0s;
    	-webkit-animation-name: fadeIn;
    	animation-name: fadeIn;
    }
    .secondary-header{
      animation-delay: 0.1s;
    }
  }
  .fadeInUp{
    .login-form{
      .form-group{
        -webkit-animation-duration: 0.25s;
        animation-duration: 0.25s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
      }
      .form-group:nth-child(1){
        animation-delay: 0.1s;
      }
      .form-group:nth-child(2){
        animation-delay: 0.2s;
      }
      .form-group:nth-child(3){
        animation-delay: 0.3s;
      }
      .form-group:nth-child(4){
        animation-delay: 0.4s;
      }
      .form-group:nth-child(5){
        animation-delay: 0.5s;
      }
      .form-group:nth-child(6){
        animation-delay: 0.6s;
      }
      .form-group:nth-child(7){
        animation-delay: 0.7s;
      }
    }
  }
  .view-body{
    .blue-btn{
      background: $ts-primary-blue;
      color: white;
    }
    .default-view-body{
      .strike-through-margin {
          margin: 30px 0 30px 0;
          text-align: center;
          border-bottom: 1px solid #dcdcdc;
          line-height: 0.1em;
          span {
              background-color: #fff;
              padding: 3px 30px;
          }
      }

      .strike-through {
          text-align: center;
          border-bottom: 1px solid #dcdcdc;
          line-height: 0.1em;
          margin: 30px auto 30px auto
      }

      .strike-through span {
          background-color: #fff;
          padding: 3px 30px;
      }

      .logo{
        height: auto;
        width: 25px;
      }
    }
    .hor-linear-grad {
        height: 1px;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
    }
  }
}
