<section [ngClass]="(mode=='dialog') ?
            ' bg-white container-background flex flex-row m-auto overflow:hidden'
            :' flex flex-row m-auto overflow:hidden'">
    <div id="login-signup-container" [ngClass]="(mode=='dialog') ? 'z-10 bg-white w-full p-6 m-auto md:m-2 lg:m-2'
            : 'login-card-box z-10 bg-white max-w-sm w-full p-10'">
        <i *ngIf="!ifUnverified" (click)="takeMeBack()" class="cursor-pointer text-3xl mdi mdi-arrow-left"></i>
        <app-login-top-content [condition]="currScreen"></app-login-top-content>
        <form id="formId" [formGroup]="loginForm" class="w-full">
            <div [@in-out-animate] *ngIf="!showVerifyEmail" class="form-group md:flex md:items-center mb-1">
                <div class="md:w-full">
                    <ts-input-text formControlName="email"
                        class="form-control bg-white border-gray-500 rounded py-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                        id="user-email" type="email" name="email" placeholder="Email" autocomplete="user-email"
                        required></ts-input-text>
                    <p class="text-sm text-red-500" *ngIf="socialLoginMsg">It seems you have signed up using Social
                        Login.</p>
                </div>

            </div>
            <div [@EnterLeave]="'flyIn'">
                <div *ngIf="ifSignUp" class="form-group md:flex md:items-center mb-1">
                    <div class="md:w-full">
                        <ts-input-text formControlName="firstName"
                            class=" form-control bg-white border-gray-500 rounded py-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            id="name" type="text" placeholder="Name" autocomplete="username"></ts-input-text>
                    </div>
                </div>
                <div  *ngIf="ifSignIn || ifSignUp" class="form-group md:flex md:items-center mb-1">
                    <div class="md:w-full">
                        <ts-input-text formControlName="password" appPassword
                            class="form-control bg-white border-gray-500 rounded py-2  text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            id="user-pwd" [type]="'password'" placeholder="Password" autocomplete="current-password">
                        </ts-input-text>
                    </div>
                </div>
                <div *ngIf="ifSignUp" class="form-group md:flex md:items-center mb-1">
                    <div class="md:w-full">
                        <input type="tel" value="phone_number" formControlName="phoneNumber"
                            class="form-control bg-white border-gray-500 rounded py-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                            id="phoneNumber" type="tel" placeholder="Phone no." autocomplete="user-phone">


                        <p class="text-sm text-red-500" *ngIf="phoneError">Please enter a valid Phone no.</p>
                    </div>
                </div>
            </div>
            <div *ngIf="showVerifyEmail" class="text-center">
                <img class="m-auto" src="../../../../../assets/images/verify-email.png">
                <span class="text-sm">Tap the link in the email we sent you at
                    {{this.loginForm.value.email}}</span>
            </div>
            <div class="mt-5">
                <div [@btn-animate] *ngIf="ifUnverified" class="w-full text-center">
                    <ts-button text="Continue" [disabled]="!loginForm.valid" (click)="verifyEmail()" class="w-full">
                    </ts-button>
                </div>
                <div *ngIf="ifSignIn" class="w-full text-center" >
                    <ts-button text="Sign in" [disabled]="!loginForm.valid" (click)="signIn()" class="w-full">
                    </ts-button>
                    <a (click)="forgotPassword()" class=" text-sm text-center verify-email py-2 px-2">
                        Forgot Password?
                    </a>
                </div>
                <div [@btn-animate] *ngIf="ifSignUp" class="w-full text-center">
                    <ts-button text="Create your account" [disabled]="!loginForm.valid || phoneError"
                        (click)="recaptchaRef.execute()" class="w-full">
                    </ts-button>
                </div>
                <div *ngIf="showResetPassword" class="md:w-full text-center">
                    <ts-button text="Send Reset Password Link" [disabled]="!loginForm.valid" (click)="resetPassword()"
                        class="w-full">
                    </ts-button>
                    <a (click)="resetPassword()" class=" text-sm text-center resend-email py-2 px-2">
                        Resend Email
                    </a>
                </div>
                <div *ngIf="showVerifyEmail" class="md:w-full text-center py-2 my-2 ">
                    <ts-button text="Resend Verification Email" [disabled]="!loginForm.valid"
                        (click)="resendVerifyEmail()" class="w-full">
                    </ts-button>
                    <a class=" text-sm text-center resend-email py-2 px-2">
                        Why verify?
                    </a>
                </div>

            </div>
            <div class="form-group">
                <re-captcha #recaptchaRef="reCaptcha" (resolved)="resolveAndProceed($event)"
                    siteKey={{CAPTCHA_SITE_INVISIBLE_CAPTCHA_KEY}} size="invisible"></re-captcha>
            </div>
        </form>
        <section id="social-signin-container" *ngIf="showSocial">
            <div class="strike-through strike-through-margin">
                <span>
                    <strong class="or-text">or</strong>
                </span>
            </div>
            <div class="form-group">
                <button mat-raised-button
                    class="bg-white w-full p-2 flex flex-row border border-gray-400 rounded shadow mb-2 justify-center"
                    (click)="onLoginWithGoogle()" ts-data-analytics prop-event="click" eventLabel="Login with Google"
                    prop-clicked-location="Sign In">
                    <div class="px-2" matRipple>
                        <img  class="logo" 
                            src="https://townscript-common-resources.s3.ap-south-1.amazonaws.com/google-min.png" />
                    </div>
                    <div class="text-sm">
                        <span class="no-margin">Continue with Google</span>
                    </div>
                </button>
                <p class="form-control--error" ng-if="googleError.length" ng-bind="googleError"></p>
            </div>
            <div class="form-group">
                <button mat-raised-button
                    class="bg-white w-full p-2 flex flex-row border border-gray-400 rounded shadow mb-2 justify-center"
                    (click)="onLoginWithFB()" ts-data-analytics prop-event="click" eventLabel="Login with Facebook"
                    prop-clicked-location="Sign In">
                    <div class="px-2">
                        <img class="logo"
                            src="https://townscript-common-resources.s3.ap-south-1.amazonaws.com/facebook-min.png" />
                    </div>
                    <div class="text-sm">
                        <span class="no-margin">Continue with Facebook</span>
                    </div>
                </button>
                <ng-container class="login-error" ng-if="fbError.length">
                    <i class="ion-android-alert"></i>
                    <p class="form-control--error" ng-bind="fbError"></p>
                </ng-container>
            </div>
        </section>
        <div *ngIf="ifUnverified ||  ifSignUp" class="agreement my-2 px-2">
            <div class="w-full hor-linear-grad m-4"></div>
            <p class="text-xs text-center">By continuing, you agree to Townscript's <a class="text-blue-700"
                    href="/terms-and-conditions">terms of service</a> and <a class="text-blue-700"
                    href="/privacy-policy">privacy policy</a>.</p>
        </div>
    </div>
    <div [ngClass]="(mode=='dialog') ? 'hidden' : 'ml-20 p-6 hidden md:block'">
        <div class="flex flex-col mt-4">
            <span class="text-2xl w-2/3 mb-4 text-gray-900">
                <strong>301,589 event organizers trust us.</strong>
            </span>
            <div class="flex flex-column my-2">
                <i class="mdi mdi-check-circle color-blue mr-2 h-6 "></i>
                <span>
                    <p class="">Quick and easy event creation</p>
                    <p class="text-sm text-gray-600">Create your event page, it is easy and customizable.</p>
                </span>
            </div>
            <div class="flex flex-column my-2">
                <i class="mdi mdi-check-circle color-blue mr-2 h-6 "></i>
                <span>
                    <p class="">Start selling tickets within minutes.</p>
                    <p class="text-sm text-gray-600">Link your bank account, verify identity details and start selling
                        instantly.</p>
                </span>
            </div>
            <div class="flex flex-column my-2">
                <i class="mdi mdi-check-circle color-blue mr-2 h-6 "></i>
                <span>
                    <p class="">Simple Integration with your website.</p>
                    <p class="text-sm text-gray-600">Easy to start selling tickets directly from your website and
                        facebook without developers.</p>
                </span>
            </div>
        </div>
    </div>

</section>