.container-background{
    &::before {
        color: white;
        background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 200 100' xmlns='http://www.w3.org/2000/svg'  preserveAspectRatio='none'><polygon points='0,110 0,50 300,0 300,300' width='100%' height='100%' style='fill:blue;'/></svg>");
        background-size:contain;
        width: 30%;
        font-size: 2em;
        padding: 4px 40px;
  } 
}
.strike-through-margin {
    margin: 30px 0 30px 0;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    line-height: 0.1em;

    span {
        background-color: #fff;
        padding: 3px 30px;
    }
}

.strike-through {
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    line-height: 0.1em;
    margin: 30px auto 30px auto
}

.strike-through span {
    background-color: #fff;
    padding: 3px 30px;
}

.hor-linear-grad {
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}


.iti__flag {background-image: url("../../../../../../node_modules/intl-tel-input/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../../../../../../node_modules/intl-tel-input/build/img/flags@2x.png");}
}

#social-signin-container {
    .logo {
        width: 22px;
        height: 22px;
    }

    // .fb-logo {
    //     width: 26px;
    //     height: 26px;
    // }
}

.mkt-content {
    background-color: #f1f1f1;
}

.login-card-box {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 460px;
}