<div *ngIf="!topicCard" [ngClass]="showRegularCard ? 
        gridType=='list' ? 'listing-container cursor-pointer rounded  my-4 mx-auto  lg:flex' :
                    'bg-white cursor-pointer lg:flex lg:flex-col md:w-1/4 listing-container mx-auto my-1 rounded sm:w-1/2'
        : 'listing-container bg-white cursor-pointer rounded  my-4 mx-auto lg:flex lg:flex-row-reverse' 
">
    <div [ngClass]="showRegularCard
                    ? gridType=='list' ? 'h-48 lg:h-auto sm:w-full md:w-full lg:w-2/5 flex-none bg-cover text-center overflow-hidden' : 'bg-cover flex-none h-48 lg:h-auto lg:w-3/5 lg:w-full md:w-full overflow-hidden p-24 sm:w-full text-center'
                    : 'h-48 lg:h-auto sm:w-full md:w-full lg:w-3/5 flex-none bg-cover text-center overflow-hidden'"
        [style.background-image]="'url(' + eventData.cardImageUrl + ')'">
    </div>
    <div [ngClass]="showRegularCard ?
                     'listing-container--content flex flex-col justify-between leading-normal w-full'
                     : 'listing-container--featured-content flex flex-col justify-between leading-normal w-full'
                     ">
        <div class="pl-4 pt-3 pb-1">
            <div class="flex flex-row justify-between align-items-center">
                <span *ngIf="urgencyMessage || featuredCard"
                    class="text-md bg-orange-500 rounded text-md px-2 mr-2">Featured</span>
                <span *ngIf="urgencyMessage" class="text-xs text-red-400">Booked 20 times in the last 24 hrs</span>
                <span *ngIf="urgencyMessage" class="bg-white rounded-l-full px-2">
                    <i class="material-icons align-bottom pr-1 hidden">remove_red_eye</i>
                    <strong class="text-xs">12 Viewing right now</strong>
                </span>
            </div>
            <div class="font-303030 capitalize text-xl mb-1">{{eventData.name | titlecase}}</div>
            <div class="flex text-xs ">
                <div class="mr-2 flex items-center">
                    <i class="mdi mdi-calendar-today text-xl pr-1  align-bottom"></i>
                    <span class="">{{[eventData.startTime, eventData.endTime] | dateRange}}</span>
                </div>
                <div class="mr-2 flex items-center">
                    <i class="mdi mdi-map-marker pr-1 text-xl  align-bottom"></i>
                    <span class="font-323E48 font-bold">{{eventData.city}}</span>
                </div>
                <div *ngIf="goingCounter" class="mr-2">
                    <i class="material-icons pr-1  align-bottom text-purple-900">supervisor_account</i>
                    <span class="font-323E48 font-bold">700</span>
                </div>
            </div>
            <div *ngIf="featuredCard" class="text-sm">Heres goes some 2 line data which describes about the event.</div>
            <div [ngClass]="showRegularCard ? 'py-2 pr-2 flex justify-between  mt-8' 
                    : 'py-2 pr-2 flex flex-col-reverse'">
                <div *ngIf="moreIcons" id="set-of-icons" class="flex">
                    <i class="material-icons pr-1  align-bottom text-purple-900">supervisor_account</i>
                    <i class="material-icons pr-1  align-bottom text-purple-900">supervisor_account</i>
                    <i class="material-icons pr-1  align-bottom text-purple-900">supervisor_account</i>
                    <i class="material-icons pr-1  align-bottom text-purple-900">supervisor_account</i>
                </div>
                <div [ngClass]="showRegularCard ? '' : ''">
                    <span class="pr-2 font-323E48 font-semibold text-sm sm:text-xs hover:text-gray-900 hover:underline"
                        *ngFor="let key of eventData?.keywords">#{{key.keyCode}}</span>
                </div>
            </div>
        </div>
        <div
            class="h-10 bottom-purple-bar border-t border-gray-300 flex items-center justify-between py-2 px-4 sm:rounded-b-lg lg:rounded-none">
            <div class="text-sm flex items-center">
                <!-- <i class="mdi mdi-heart-outline text-2xl mr-2"></i> -->
                <div class="px-2 rounded-full" matRipple>
                    <i class="mdi mdi-share-variant text-2xl" (click)="shareEvent();$event.stopPropagation()"></i>
                </div>
            </div>
            <div class="flex items-center">
                <span class="align-text-bottom price-container font-323E48 text-base font-semibold"
                    *ngIf="eventData.minimumTicketPrice">
                    Starting from
                    {{eventData.minimumTicketPrice | currency:eventData.minimumTicketPriceCurrency}}</span>
                <span *ngIf="!eventData.minimumTicketPrice ">Free</span>
                <i class="mdi mdi-arrow-right text-2xl ml-2"></i>
            </div>
        </div>
    </div>
</div>

<div *ngIf="topicCard" class="topic-container my-4 mx-auto  lg:flex ">
    <div class="hidden w-full md:block md:3/5 bg-cover text-center overflow-hidden"
        [style.background-image]="'url(' + topicData.cardImageUrl + ')'">
    </div>
    <div class="flex flex-col bg-white w-3/5 px-4">
        <span class="m-2 text-2xl font-bold">
            {{topicData.name}}
        </span>
        <span class="m-2 subTitle text-lg opacity-50">
            {{topicData.subTitle}}
        </span>
        <span class="m-2 text-base">
            {{topicData.topicDescription}}
        </span>
        <div class= "keywords m-2 flex">
            <span class="font-bold cursor-pointer text-xs rounded-full px-2 mr-2 capitalize"
                *ngFor="let key of topicData?.keywords">{{key.keyCode}}
            <i class="align-middle mdi mdi-heart-outline text-2xl"></i>
            </span>
        </div>
    </div>
</div>
