<div
    class="listing-container cursor-pointer border-gray-400 shadow rounded  my-4 m-auto lg:w-3/5 sm:w-1/2 md:w-1/2 lg:flex">
    <div class="h-48 lg:h-auto sm:w-full md:w-full lg:w-2/5 flex-none bg-cover rounded text-center overflow-hidden"
        [style.background-image]="'url(' + eventData.cardImageUrl + ')'">
    </div>
    <div class="listing-container--content flex flex-col justify-between leading-normal w-full">
        <div class="pl-4 pt-2 pb-1">
            <div *ngIf="urgencyMessage" class="flex flex-row justify-between align-items-center">
                <span class="text-sm bg-orange-500 rounded text-sm px-2">In High Demand</span>
                <span class="text-xs text-red-400">Booked 20 times in the last 24 hrs</span>
                <span class="bg-white rounded-l-full px-2">
                    <i class="text-purple-900 material-icons align-bottom pr-1">remove_red_eye</i>
                    <strong class="text-xs">12 Viewing right now</strong>
                </span>
            </div>
            <div class="text-gray-900 text-xl my-2">{{eventData.name | titlecase}}</div>
            <div class="text-gray flex text-xs ">
                <div class="mr-2 flex items-center">
                    <i class="mdi mdi-calendar-today text-xl pr-1  align-bottom text-purple-900"></i>
                    <span class="">{{[eventData.startTime, eventData.endTime] | dateRange}}</span>
                </div>
                <div class="mr-2 flex items-center">
                    <i class="mdi mdi-map-marker pr-1 text-xl  align-bottom text-purple-900"></i>
                    <span class="">{{eventData.city}}</span>
                </div>
                <div *ngIf="goingCounter" class="mr-2">
                    <i class="material-icons pr-1  align-bottom text-purple-900">supervisor_account</i>
                    <span class="">700</span>
                </div>
            </div>
            <div class="py-2 pr-2 flex justify-end text-xs text-gray-800 mt-10">
                <div class="pr-2" *ngFor="let key of eventData.keywords">#{{key.keyCode}}</div>
                <div class="pr-2 hover:text-gray-900 hover:underline">#marathon</div>
                <div class="pr-2 hover:text-gray-900 hover:underline">#running</div>
                <div class="pr-2 hover:text-gray-900 hover:underline">#conference</div>
            </div>
        </div>
        <div
            class="h-10 bottom-purple-bar border-t border-gray-300 flex items-center justify-between py-2 px-4 sm:rounded-b-lg lg:rounded-none">
            <div class="text-sm flex items-center ">
                <i class="mdi mdi-heart-outline text-2xl mr-2"></i>
                <i class="mdi mdi-share-variant text-2xl"></i>
            </div>
            <div class="flex items-center">
                <span class="align-text-bottom text-lg"
                    *ngIf="eventData.minimumTicketPrice">{{eventData.minimumTicketPrice | currency:eventData.minimumTicketPriceCurrency}}-{{eventData.minimumTicketPrice}}</span>
                <span *ngIf="!eventData.minimumTicketPrice ">Free</span>
                <i class="mdi mdi-arrow-right text-2xl ml-2"></i>
            </div>
        </div>
    </div>
</div>