@import "../../../.././../assets/scss/variables";

.listing-container {
    transition: opacity .5s, margin-top .5s, margin-bottom .5s;
    -webkit-transition: opacity .5s, margin-top .5s, margin-bottom .5s;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-family: Lato;
    &:hover {
        box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.13);
        top: -10px;
        .bottom-purple-bar {
            background: linear-gradient(138.55deg, #A165C4 0%, #4D2370 100%);
            box-shadow: 0 2px 4px 0 #D4B1F0;
            border-radius: 0 0 5px 5px;
            i, span{
                color: white !important;
            }
            transition: 1.3s;
        }
    }
    .font-323E48 {
        color: #323E48;
    }

    .font-303030 {
        color: #303030;  
    }
    .listing-container--content {
        background-color: rgb(238, 238, 238);
        
        .bottom-purple-bar{
            transition: opacity .5s, margin-top .5s, margin-bottom .5s;
            -webkit-transition: opacity .5s, margin-top .5s, margin-bottom .5s;
        }

        .price-container {
            font-size: 15px;
        }
    }
    i {
        color: #683592;
    }
    
}
