<div class="listing-container rounded-4 mx-auto mb-2 w-11/12 md:w-3/5 lg:flex">
    <div class="h-48 lg:h-auto sm:w-full md:w-full lg:w-2/5 flex-none bg-center text-center" [style.background-image]="'url(' + eventData.cardImageUrl + ')'" title="Woman holding a mug">
    </div>
    <div class="listing-container--content flex flex-col justify-between leading-normal w-full">
      <div class="pl-4 pt-4">
        <div *ngIf="urgencyMessage" class="flex flex-row lg:justify-between align-items-center">
            <span class="text-sm bg-orange-500 rounded text-sm px-2 mr-2">In High Demand</span>
            <span class="text-xs text-red-400">Booked 20 times in the last 24 hrs</span>
            <span class="bg-white rounded-l-full px-2 hidden">
                <i class="material-icons align-bottom pr-1">remove_red_eye</i>
                <strong class="text-xs">12 Viewing right now</strong>
            </span>
        </div>
        <p class="font-303030 capitalize text-xl my-2">{{eventData.name}}</p>
        <div class="flex text-xs ">
            <div class="mr-6">
                <i class="material-icons pr-1  align-bottom">calendar_today</i>
                <span class="font-303030">{{[eventData.startTime, eventData.endTime] | dateRange}}</span>
            </div>
            <div class="mr-6">
                <i class="material-icons pr-1  align-bottom">location_on</i>
                <span class="font-323E48 font-bold">{{eventData.city}}</span>
            </div>
            <div *ngIf="goingCounter" class="mr-6">
                <i class="material-icons pr-1  align-bottom">supervisor_account</i>
                <span class="font-323E48 font-bold">700</span>
            </div>
        </div>
        <div  class="py-2 pr-2 flex justify-end">
            <div class="pr-2 font-323E48 font-semibold text-sm sm:text-xs" *ngFor="let key of keywords">#{{key.keyCode}}</div>
        </div>
      </div>
      <div class="h-10 bottom-purple-bar flex flex-row justify-between pt-2 pl-4 sm:rounded-b-lg lg:rounded-none">
        <div class="text-sm">
            <!-- <i class="material-icons">favorite_border</i> -->
            <i class="material-icons px-2">share</i>
        </div>
        <div class="">
            <span class="price-container font-323E48 align-text-bottom text-base font-semibold pr-4">{{eventData.minimumTicketPrice | currency:eventData.minimumTicketPriceCurrency}}-{{eventData.minimumTicketPrice}}</span>
            <span class="align-middle"><i class="material-icons px-2">arrow_forward</i></span>
        </div>
      </div>
    </div>
  </div>

