<footer class="ts-footer text-center pt-8 pb-4 md:pt-24 md:pb-12 lg:pt-32 lg:pb-16" [class.new-footer]="source=='marketplace'">
    <div class="ts-container content-footer">
        <div class="flex md:mb-4">
            <div class="w-1/5 hidden-xs px-4">
                <h5>ORGANISE EVENTS</h5>
                <ul class="list-unstyled">
                    <li><a href="/i/conference-registration">Conferences</a></li>
                    <li><a href="/i/workshops-and-trainings">Workshops and Trainings</a></li>
                    <li><a href="/i/college-fest-payment-portal">College Festivals</a></li>
                    <li><a href="/i/marathon-cycling-trips-treks-registration">Sports and Fitness Events</a></li>
                    <li><a href="/i/entertainment-events-ticketing">Entertainment Events</a></li>
                    <li><a href="/i/meetup-registration">Meetups and Reunions</a></li>
                    <li><a href="/i/treks-trips-registration">Treks and Trips</a></li>
                    <!-- <li><a href="/i/fundraising-crowdfunding">Fundraisings</a></li> -->
                </ul>
            </div>
            <div class="w-1/5 px-4 hidden-xs">
                <h5>POPULAR SEARCHES</h5>
                <ul class="list-unstyled">
                    <!--<li><a href="/pune/new-year-party">New Year Parties In Pune</a></li>
				<li><a href="/mumbai/new-year-party">New Year Parties In Mumbai</a></li>
				<li><a href="/delhi/new-year-party">New Year Parties In Delhi</a></li>
				<li><a href="/bangalore/new-year-party">New Year Parties In Bangalore</a></li>-->
                    <li><a
                            href="http://support.townscript.com/support/solutions/articles/1000265220-list-of-countries-supported-by-townscript-">
                            List of Countries supported by Townscript</a></li>
                    <li><a href="/i/sell-event-tickets-online">Sell Event Tickets Online</a></li>
                    <li><a href="/i/event-management-software">Event Management Software</a></li>
                    <li><a href="/i/event-registration-software">Event Registration Software</a></li>
                    <li><a href="/i/conference-management-system">Conference management System</a></li>
                    <li><a href="/i/event-planning-software">Event Planning Software</a></li>
                    <li><a href="/i/online-event-ticketing">Online Event Ticketing</a></li>
                    <li><a href="/i/corporate-event-management">Corporate Event Management</a></li>
                </ul>
            </div>
            <div class="w-1/5 px-4 hidden-xs" *ngIf="source=='landingPages'">
                <h5>RECENT BLOGS</h5>
                <ul class="list-unstyled blog-links">
                    <li *ngFor="let blog of recentBlogs"><a [href]="blog.url">{{blog.title}}</a></li>
                </ul>
            </div>
            <div class="w-1/5 px-4 hidden-xs" *ngIf="source=='marketplace'">
                <h5>POPULAR EVENTS</h5>
                <ul class="list-unstyled blog-links">
                    <li *ngFor="let event of popularEvents"><a [href]="'e/'+event.shortName">{{event.name}}</a></li>
                </ul>
            </div>
            <div class="w-1/5 px-4 hidden-xs">
                <h5>POPULAR READS</h5>
                <ul class="list-unstyled blog-links">
                    <li *ngFor="let read of popularReads"><a [href]="read.url" target="_blank">{{read.title}}</a></li>
                </ul>
            </div>
            <div class="w-1/5 hidden-xs pl-12">
                <h5>BOOKINGS</h5>
                <ul class="list-unstyled">
                    <li>
                        <div class="mybookings cursor-pointer" (click)="openMyBooking()">My Bookings</div>
                    </li>
                </ul>
                <h5 (click)="openContactUs()">GET IN TOUCH</h5>
                <!--<h5><a href="mailto:service@townscript.com" target="_blank" class="mail-to visible-xs">service@townscript.com</a></h5>-->
                <ul class="list-unstyled">
                    <!-- 				<li class="hidden-xs">
					<a href="#">Contact us</a>
				</li> -->
                    <li class="social-list-item">
                        <ul class="social-list clearfix">
                            <li>
                                <a href="https://www.facebook.com/townscript" target="_blank"><i
                                        class="mdi mdi-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/townscript" target="_blank"><i
                                        class="mdi mdi-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+Townscript" target="_blank"><i
                                        class="mdi mdi-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/townscript" target="_blank"><i
                                        class="mdi mdi-linkedin"></i></a>
                            </li>
                            <!--<li>
							<a href="mailto:service@townscript.com" target="_blank"><i class="ion-email"></i></a>
						</li>-->
                        </ul>
                    </li>
                </ul>
                <h5 class="hidden-xs">ORGANIZER APP</h5>
                <ul class="list-apps hidden-xs">
                    <li>
                        <a href="//play.google.com/store/apps/details?id=com.dyulok.android.organizerapp&hl=en_IN"
                            title="Download on Google play" class="store-icon google-play-icon" target="_blank">Download
                            on Google
                            play</a>
                    </li>
                    <li>
                        <a href="//itunes.apple.com/in/app/townscript-event-manager/id1441088900?mt=8"
                            title="Download on App Store" target="_blank" class="store-icon app-store-icon">Download on
                            App Store</a>
                    </li>
                </ul>
            </div>
            <div class="w-full block md:hidden">
              <div class="flex flex-col justify-center items-center">
                <div class="text-3xl text-gray-400 px-5 pr-32 mr-5">&ldquo;Live an</div>
                <div class="text-4xl text-gray-400 font-semibold -mt-3 px-5 pl-12"><span class="text-purple-300">Event</span>ful life&rdquo;</div>
                <img class="dance-illustration" src="https://townscript-common-resources.s3.ap-south-1.amazonaws.com/ts-illustrations/partying_2.png">
              </div>
            </div>
        </div>
    </div>
    <div class="ts-container">
        <div class="brand-footer border-0 md:border-t pt-2 md:pt-4 lg:pt-8">
            <div class="flex md:mb-4">
                <div class="w-full flex flex-col items-center md:items-start md:w-1/5 px-4 ts-logo">
                    <img src="assets/images/ts-logoBMS.png" alt="Townscript Event Ticketing Logo"
                        title="Townscript Event Ticketing Logo" />
                    <span class="ts-footer__copyright text-right pr-2 text-xs text-gray-800">Copyright@2019</span>
                    <!--<a href="mailto:service@townscript.com" target="_blank" class="ts-footer__mail hidden-xs">service@townscript.com</a>-->
                </div>
                <div class="linear-footer hidden-xs px-4">
                    <h5>LEARN MORE</h5>
                    <br>
                    <ul class="list-linear">
                        <!-- <li><a href="#">Features</a></li> -->
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/how-it-works" ts-data-analytics prop-event="click" eventLabel="How It Works"
                                prop-clicked-location="Footer">How it works</a></li>
                        <!-- <li><a href="#">Mobile Apps</a></li> -->
                        <li><a href="//townscript-api.readme.io/" target="_blank">APIs for Developers</a></li>
                        <li><a href="/terms-and-conditions">Policies</a></li>
                        <li><a href="/privacy-policy">Privacy</a></li>
                        <li><a href="http://support.townscript.com/support/home" target="_blank">Support / FAQs</a></li>
                    </ul>
                    <div class="linear-footer hidden-xs" *ngIf="source=='marketplace'">
                        <h5>POPULAR CITIES</h5>
                        <br>
                        <ul class="list-linear">
                            <li *ngFor="let city of popularCities">
                                <div><a href="/{{city.countryCode + '/' + city.name | lowercase}}">{{city.name}}</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="linear-footer hidden-xs">
                        <h5>ABOUT</h5>
                        <br>
                        <ul class="list-linear">
                            <li><a href="/about-us">About us</a></li>
                            <li><a href="/contact-us">Contact us</a></li>
                            <!-- <li><a href="#">Career</a></li> -->
                            <!-- <li><a href="#">Media</a></li> -->
                            <li><a href="http://blog.townscript.com" target="_blank">Blog</a></li>
                            <li><a href="http://eventmagazine.townscript.com/" target="_blank">Event Magazine</a></li>
                            <li><a href="https://productblog.townscript.com/" target="_blank">Product Diary</a></li>
                            <li><a href="/sitemap" target="_blank">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mixpanel-button align-text px-10 pt-8 mx-1">
                    <a href="https://www.g2crowd.com/products/townscript/reviews" target="_blank">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/common-resources/assets/g2badge.png"
                            alt="G2Crowd Townscript Reviews" width="100">
                        <span>72 Reviews</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
</footer>
