.building-image-container{
    margin-top: 100px;
    text-align: left;
    background-image: url('//s3.ap-south-1.amazonaws.com/townscript-common-resources/assets/footer-skyline.png');
    background-repeat: repeat-x;
    background-position: left top;
    min-height: 5rem;
}
.ts-footer{
  .section-1{
    .organizer-app-links{
      .list-apps{
        list-style-type: none;
        padding: 0;
        li{
          line-height: 50px;
          margin: 5px 0;
        }
      }
    }
    .social-list{
      a{
        color: #333;
        transition: 0.2s all;
        &:hover{
          color: #111;
        }
      }
    }
  }
  .section-2{
    a{
      color: #4B4B4B;
      font-size: 0.875rem;
      padding: 5px 0;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
