<div class="w-full lg:flex search-container relative" [class.active]="searchActive">
    <div class="w-2/3 m-2 flex items-center left-section">
        <i class="mdi mdi-magnify text-2xl color-blue p-2"></i>
        <input [(ngModel)]="searchText" (ngModelChange)="search($event)"
            (focus)="searchActive = true;citySearchActive=false" (blur)="searchActive = false"
            class="text-sm w-full h-full bg-transparent  p-2" type="text" placeholder="Search for an Event" />
        <div class="suggestions enter-slide-bottom w-full p-4 absolute" *ngIf="searchResults && searchActive">
            <ul class="ts-enter" *ngIf="searchResults?.interests.length>0">
                <li class="list-head">
                    INTERESTS
                </li>
                <li class="p-2 text-xs font-bold cursor-pointer" *ngFor="let interest of searchResults.interests">
                    <div class="flex items-center">
                        <div class="avatar mr-3 bg-cover" [style.backgroundImage]="'url('+ interest.imageUrl +')'">
                        </div>
                        <div>
                            <span class="mb-1 block">{{interest.name | titlecase}} </span>
                            <div class="flex items-center" *ngIf="interest.location">
                                <i class="mdi mdi-map-marker color-blue"></i>
                                <small>{{interest.location}}</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="ts-enter" *ngIf="searchResults?.events.length>0">
                <li class="list-head">
                    EVENTS
                </li>
                <li class="p-2 text-xs font-bold cursor-pointer" *ngFor="let event of searchResults.events">
                    <div class="flex items-center">
                        <div class="avatar mr-3 bg-cover" [style.backgroundImage]="'url('+ event.imageUrl +')'"></div>
                        <div>
                            <span class="mb-1 block">{{event.name | titlecase}} </span>
                            <div class="flex items-center">
                                <div class="flex items-center" *ngIf="event.location">
                                    <i class="mdi mdi-map-marker color-blue"></i>
                                    <small>{{event.location}}</small>
                                </div>
                                <div class="flex items-center ml-2" *ngIf="event?.secondaryTextProperties?.startTime">
                                    <i class="mdi mdi-calendar-today color-blue mr-1"></i>
                                    <small>{{event.secondaryTextProperties.startTime}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="ts-enter" *ngIf="searchResults?.organizers.length>0">
                <li class="list-head">
                    ORGANIZERS
                </li>
                <li class="p-2 text-xs font-bold cursor-pointer" *ngFor="let organizer of searchResults.organizers">
                    <div class="flex items-center">
                        <div class="avatar mr-3 bg-cover" [style.backgroundImage]="'url('+ organizer.imageUrl +')'">
                        </div>
                        <div>
                            <span class="mb-1 block">{{organizer.name | titlecase}} </span>
                            <div class="flex items-center" *ngIf="organizer.location">
                                <i class="mdi mdi-map-marker color-blue"></i>
                                <small>{{organizer.location}}</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div #citySuggestions
        class="w-1/3 flex items-center justify-between p-2 cursor-pointer relative city-search-container"
        [class.active]="cityPopupActive" (click)="openCityPopup()">
        <div class="flex items-center">
            <i class="mdi mdi-map-marker text-2xl color-blue"></i>
            {{activeCity}}
        </div>
        <i class="mdi mdi-chevron-down text-2xl"></i>
        <div class="city-suggestions enter-slide-bottom" *ngIf="cityPopupActive ">
            <div class="suggestions-container">
                <ul>
                    <li [class.active]="citySearchActive" class="p-2 cursor-pointer flex items-center truncate">
                        <i class="mdi mdi-magnify mr-2"></i>
                        <input #cityInput id="cityInput" type="text" placeholder="Type here to search..."
                            [(ngModel)]="cityQuery" (ngModelChange)="searchCity($event)" (focus)="citySearchActive=true"
                            class="w-full bg-transparent text-sm" />
                    </li>
                    <li (click)="placeChanged(place);" class="p-2 cursor-pointer flex items-center truncate"
                        *ngFor="let place of placeSearchResults">
                        <i class="mdi mdi-map-marker text-base mr-1 color-blue"></i>
                        <span class="text-sm flex items-end truncate">
                            <span class="mr-1 whitespace-no-wrap">{{place.name}} </span>
                            <small class="text-2xs text-gray-600"
                                *ngIf="place.city && place?.city.length>0 && place?.type!='city'">
                                {{place.city}},
                            </small>
                            <small class="text-2xs text-gray-600"
                                *ngIf="place.country && place?.country.length>0 && place?.type!='country'">{{place.country}}
                            </small>
                            <small class="text-2xs truncate text-gray-600">{{place.secondaryText}}</small>
                        </span>
                    </li>
                    <ng-container *ngIf="!placeSearchResults || placeSearchResults.length==0">
                        <li class="p-2 cursor-pointer" *ngFor="let city of popularPlaces">
                            <i class="mdi mdi-map-marker text-base mr-1 color-blue"></i>
                            <span class="text-sm">{{city}}</span>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>