@import "../../../../.././../assets/scss/variables";
@media (min-width: $screen-sm-max){
    .search-container{
        height: 42px;
        border-radius: 2px;
        transition: all ease 0.3s;
        .left-section{
            background-color: white;
            border-radius: 4px;
            //border-right: 1px solid rgba(151, 151, 151, 0.3);
            input{
                transition: all ease 0.3s;
                &:focus{
                    background: white;
                }                  
            }
            &:hover {
                box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.15);
            }
            .suggestions{
                top: 100%;
                left: 0;
                background: white;
                border-top: 1px solid rgba(151, 151, 151, 0.4);
                ul{
                    li{
                        transition: all ease 0.15s;
                        &:hover{
                            background: $gray--light;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .city-search-container{
            transition: all ease 0.3s;
            max-width: 33.33%;
            &.active{
                background: white;
                box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.15);   
            }
            .popup{
                position: absolute;
                top: 135%;
                width: 135%;
                left: -34%;
            }
        }
        &.active{
            .left-section{
                background: white;
                box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.15);
            }
            .suggestions{
                box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.15);
            }
        }
    }
}
::placeholder {
    font-size: small;
}