<div class="w-full lg:flex search-container relative" [class.active]="searchActive">
    <div #searchResultsEle class="w-2/3 p-2 flex items-center relative left-section">
        <i class="mdi mdi-magnify text-2xl color-blue p-2"></i>
        <input [(ngModel)]="searchText" (ngModelChange)="search($event)"
            (focus)="searchActive = true;citySearchActive=false" class="text-sm w-full h-full bg-transparent  p-2"
            type="text" placeholder="Search for an Event, Interest or Organizer" />
        <div class="suggestions enter-slide-bottom w-full p-2 absolute" *ngIf="searchResults && searchActive">
            <ul class="ts-enter" *ngIf="searchResults?.interests.length>0">
                <li class="list-head">
                    INTERESTS
                </li>
                <li class="p-2 text-xs font-bold cursor-pointer" (click)="navigateToListing(interest.name)"
                    *ngFor="let interest of searchResults.interests">
                    <div class="flex items-center">
                        <div class="avatar mr-3 bg-cover" [style.backgroundImage]="'url('+ interest.imageUrl +')'">
                        </div>
                        <div>
                            <span class="mb-1 block">{{interest.name | titlecase}} </span>
                            <div class="flex items-center" *ngIf="interest.location">
                                <i class="mdi mdi-map-marker color-blue"></i>
                                <small>{{interest.location}}</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="ts-enter" *ngIf="searchResults?.events.length>0">
                <li class="list-head">
                    EVENTS
                </li>
                <li class="p-2 text-xs font-bold cursor-pointer" *ngFor="let event of searchResults.events"
                    (click)="navigateToEventPage(event.urlCode)">
                    <div class="flex items-center">
                        <div class="avatar mr-3 bg-cover" [style.backgroundImage]="'url('+ event.imageUrl +')'"></div>
                        <div>
                            <span class="mb-1 block">{{event.name | titlecase}} </span>
                            <div class="flex items-center">
                                <div class="flex items-center" *ngIf="event.location">
                                    <i class="mdi mdi-map-marker color-blue"></i>
                                    <small>{{event.location}}</small>
                                </div>
                                <div class="flex items-center ml-2" *ngIf="event?.secondaryTextProperties?.startTime">
                                    <i class="mdi mdi-calendar-today color-blue mr-1"></i>
                                    <small>{{event.secondaryTextProperties.startTime}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="ts-enter" *ngIf="searchResults?.organizers.length>0">
                <li class="list-head">
                    ORGANIZERS
                </li>
                <li class="p-2 text-xs font-bold cursor-pointer" *ngFor="let organizer of searchResults.organizers">
                    <div class="flex items-center">
                        <div class="avatar mr-3 bg-cover" [style.backgroundImage]="'url('+ organizer.imageUrl +')'">
                        </div>
                        <div>
                            <span class="mb-1 block">{{organizer.name | titlecase}} </span>
                            <div class="flex items-center" *ngIf="organizer.location">
                                <i class="mdi mdi-map-marker color-blue"></i>
                                <small>{{organizer.location}}</small>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div #citySuggestions class="w-auto flex items-center py-2  px-4 cursor-pointer relative city-search-container"
        [class.active]="cityPopupActive" (click)="cityPopupActive = true">
        <div class="flex items-center w-10/12 mr-2 " [title]=" activePlace">
            <i class="mdi mdi-map-marker text-2xl color-blue"></i>
            <span class="truncate">{{activePlace}}</span>
        </div>
        <i class="mdi mdi-chevron-down text-2xl"></i>
        <app-city-search-popup class="popup" [(cityPopupActive)]="cityPopupActive" [(activePlace)]="activePlace"
            *ngIf="cityPopupActive">
        </app-city-search-popup>
    </div>
</div>