@import "../../../../.././../assets/scss/variables";
@media (min-width: $screen-sm-max){
    .search-container{
        height: 44px;
        border-radius: 2px;
        background-color: $gray--light;
        transition: all ease 0.3s;
        .left-section{
            border-right: 1px solid rgba(151, 151, 151, 0.3);
            input{
                transition: all ease 0.3s;
                &:focus{
                    background: $gray--lighter;
                }   
            }
            .suggestions{
                top: 100%;
                left: 0;
                background: $gray--lighter;
                border-top: 1px solid rgba(151, 151, 151, 0.4);
                ul{
                    margin: 2% 0;
                    li{
                        color: #636363;
                        transition: all ease 0.15s;
                        &.list-head{
                            font-size: 10px;
                            color: #636363;
                            border:none;
                            font-weight: normal;
                            &:hover{
                                background: $gray--lighter;
                            }
                        }
                        border-bottom: 1px solid rgba(151, 151, 151, 0.25);
                        .avatar{
                            border-radius: 50%;
                            height:41px;
                            width:41px;
                        }
                        &:hover{
                            background: $gray--light;
                        }
                    }
                }
            }
        }
        .city-search-container{
            transition: all ease 0.3s;
            &.active{
                background: $gray--lighter;
                box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.15);   
            }
            .city-suggestions{
                position: absolute;
                top: 135%;
                width: 135%;
                left: -34%;
                background: $gray--lighter;
                border-top: 3px solid $ts-primary-blue;
                box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.15);
                li:hover{
                    background: $gray--light;
                }
                &:before{
                    content: " ";
                    width: 10px;
                    position: absolute;
                    top: -3%;
                    left: 88%;
                    height: 10px;
                    -webkit-filter: drop-shadow(0 -5px 10px rgba(0, 0, 0, 0.15));
                    filter: drop-shadow(0 -5px 10px rgba(0, 0, 0, 0.15));
                    background: $gray--lighter;
                    transform: rotate(45deg);
                    border-top: 3px solid $ts-primary-blue;
                    border-left: 3px solid $ts-primary-blue;
                }
            }
        }
        &.active{
            background: $gray--lighter;
            box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.15);
            .suggestions{
                box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.15);
            }
        }
    }
}