<div class="w-full lg:flex search-container relative" [class.active]="searchActive">
    <div #searchResultsEle class="w-2/3 lg:w-full px-2 flex items-center relative left-section">
        <i class="mdi mdi-magnify text-2xl md:text-xl color-blue p-2"></i>
        <input appDataAnalytics eventLabel="search" clickLocation="" (keyup)="handleKeydown($event)" [(ngModel)]="searchText" (ngModelChange)="search($event)" (focus)="searchActive = true;" class="w-full h-full bg-transparent  p-2" type="text" placeholder="Search for an Event, Interest or Organizer"
            aria-label="Search for an Event, Interest or Organizer" />
        <i *ngIf="searchText && searchText.length > 0" class="mdi cursor-pointer mdi-close text-2xl md:text-xl color-blue p-2" (click)="this.searchText = '';"></i>
        <div class="suggestions enter-slide-bottom w-full absolute" [ngClass]="intentSelected?'visibility: hidden':''" *ngIf="searchResults && searchActive && searchText !== ''">
            <app-search-suggestion class="cursor-pointer" *ngFor="let searchedItem of searchResults; let i = index" [item]="searchedItem" [searchText]="searchText"
            (itemSelected)="suggestionSelected(searchedItem)" (mouseenter)="hoverOnSuggestion(i)" (click)="suggestionSelected(searchedItem)"></app-search-suggestion>
            <div class="no-result flex flex-col text-center p-4 fadeIn"
                *ngIf="searchResults == undefined || searchResults.length == 0">
                <div class="px-10">
                    <img alt="No Results Found" class="w-full mb-2"
                    [lazyLoad]="'https://townscript-common-resources.s3.ap-south-1.amazonaws.com/ListingsStatic/calendar-min.png'" />
                </div>
                <label class="text-gray-600 text-sm">No Results found</label>
                <span class="text-gray-500 text-xs">We couldn’t find what you’re looking for</span>
            </div>
        </div>
    </div>
    <div appDataAnalytics eventLabel="location" clickLocation="" #citySuggestions class="w-auto flex items-center py-2  px-4 cursor-pointer relative city-search-container" [class.active]="cityPopupActive" (click)="cityPopupActive = true">
        <div class="flex items-center w-10/12 mr-2 " [title]=" activePlace">
            <i class="mdi mdi-map-marker text-lg md:text-xl color-blue"></i>
            <span class="truncate capitalize text-gray-800">{{activePlace}}</span>
        </div>
        <i class="mdi mdi-chevron-down text-lg md:text-xl"></i>
        <app-city-search-popup [popularPlaces]="popularPlaces" class="popup" [(cityPopupActive)]="cityPopupActive" [(activePlace)]="activePlace" *ngIf="cityPopupActive">
        </app-city-search-popup>
    </div>
</div>