<div class="city-selection-popup md:px-5" (click)="setCloseSuggestions(true)">
  <div class="view-header flex flex-col md:items-center justify-center fadeIn">
    <div class="back-button text-gray-700 text-2xl -ml-1 md:hidden">
      <i appDataAnalytics eventLabel="city-selection-back" clickLocation="" class="mdi mdi-arrow-left cursor-pointer"
        (click)="close()"></i>
    </div>
    <div class="text-lg md:text-xl lg:text-2xl font-semibold text-gray-800">Select Your City</div>
    <div class="text-xs md:text-sm text-gray-600 md:text-center">
      Knowing your city helps us define your experience better on Townscript
    </div>
  </div>

  <div class="ts-loader flex flex-col items-center justify-center p-10 my-20 md:m-5 fadeIn" *ngIf="showLoader">
    <mat-spinner strokeWidth=5></mat-spinner>
    <div class="py-5 text-gray-700 text-sm" *ngIf="loaderText">{{loaderText}}</div>
  </div>

  <div class="view-body my-5 md:m-5" *ngIf="!showLoader" [ngClass]="popularCities && popularCities.length > 0 ? '' : 'md:pb-40'">
    <div class="flex justify-center search-container relative z-50 fadeIn">
      <div class="relative flex flex-auto md:block md:flex-none w-full md:w-2/5 city-search z-50">
        <app-city-search-popup (activePlaceChange)="close()" [(closeSuggestions)]="closeSuggestions"
          [(cityPopupActive)]="cityPopupActive" [(activePlace)]="activePlace" [showArrow]="false">
        </app-city-search-popup>
      </div>

      <div matRipple
        class="fadeIn animation-delay transition detect-location rounded-sm flex ml-1 px-2 items-center cursor-pointer py-2 flex-none"
        (click)="detectLocation()">
        <i class="mdi mdi-crosshairs-gps px-1 color-blue"></i>
        <div class="text-gray-800 text-xs md:text-sm">Detect Location</div>
      </div>
    </div>

    <div class="popular-cities my-5 fadeIn animation-delay relative z-10" *ngIf="popularCities && popularCities.length > 0">
      <div class="text-lg md:text-xl lg:text-2xl font-semibold md:text-center py-5 text-gray-800">Popular Cities in
        {{popularCities[0].country}}</div>
      <div class="city-list flex flex-wrap justify-between md:justify-around">
        <div *ngFor="let city of popularCities | slice:0:7">
          <div class="flex-auto p-2 px-5 md:mx-2 cursor-pointer w-24" matRipple (click)="close()">
            <a [href]="city.countryCode.toLowerCase() + '/'+ city.code.toLowerCase()">
              <div class="flex flex-col items-center justify-center">
                <div class="image-container h-16 w-16 md:h-20 md:w-20 overflow-hidden">
                  <div class="city-image" [style.backgroundImage]="'url('+popularCityImageLink + city.cityImage+')'">
                  </div>
                </div>
                <div class="cityName my-1 md:m-2 text-sm md:text-base whitespace-no-wrap">{{city.name}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
