<div class="city-suggestions enter-slide-bottom" [class.arrow]="showArrow">
    <div class="suggestions-container">
        <ul>
            <li [class.active]="citySearchActive" class="p-2 capitalize cursor-pointer flex items-center truncate">
                <i class="mdi mdi-magnify mr-2"></i>
                <input appDataAnalytics eventLabel="locationDropdownSearch" clickLocation="" #cityInput
                    autocomplete="off" id="cityInput" type="text" placeholder="Type here to search..."
                    [(ngModel)]="cityQuery" (ngModelChange)="searchCity($event)" (focus)="citySearchActive=true"
                    class="w-full bg-transparent text-sm" />
                <i *ngIf="cityLoading" class="mdi mdi-loading mdi-spin"></i>
            </li>
            <div *ngIf="!closeSuggestions">
              <li matRipple (click)="placeChanged(place);"
                class="p-2 capitalize cursor-pointer flex items-center truncate"
                *ngFor="let place of placeSearchResults">
                <i class="mdi mdi-map-marker text-base mr-1 color-blue"></i>
                <span class="text-sm flex items-end truncate">
                  <span class="mr-1 whitespace-no-wrap">{{place.name}} </span>
                  <small class="text-2xs text-gray-600"
                    *ngIf="place.city && place?.city.length>0 && place?.type!='city'">
                    {{place.city}},
                  </small>
                  <small class="text-2xs text-gray-600"
                    *ngIf="place.country && place?.country.length>0 && place?.type!='country'">{{place.country}}
                  </small>
                  <small class="text-2xs truncate text-gray-600">{{place.secondaryText}}</small>
                </span>
              </li>
            </div>
            <ng-container matRipple *ngIf="!placeSearchResults || placeSearchResults.length==0">
                <li appDataAnalytics eventLabel="locationDropdownItem" clickLocation="" (click)="placeChanged(city);"
                    class="p-2 px-4 cursor-pointer capitalize" *ngFor="let city of popularPlaces">
                    <i class="mdi mdi-map-marker text-base mr-1 color-blue"></i>
                    <span class="text-base capitalize">{{city.name}}</span>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
