@import "../../../../assets/scss/variables";
.city-suggestions{
    width: 100%;
    background: $gray--lighter;
    position: absolute;
    box-shadow:  0px 0px 8px rgba(0, 0, 0, 0.25);
    .mdi-spin::before{
        animation-duration: 0.5s;
    }
    li:hover, li.active{
        background: $gray--light;
    }
    &.arrow{
        border-top: 3px solid $ts-primary-blue;
    }
    &.arrow:before{
        content: " ";
        width: 10px;
        position: absolute;
        top: -7px;
        left: 88%;
        height: 10px;
        -webkit-filter: drop-shadow(0 -5px 10px rgba(0, 0, 0, 0.15));
        filter: drop-shadow(0 -5px 10px rgba(0, 0, 0, 0.15));
        background: $gray--light;
        transform: rotate(45deg);
        border-top: 3px solid $ts-primary-blue;
        border-left: 3px solid $ts-primary-blue;
    }
}
@media (min-width: $screen-sm-max){
    .city-suggestions{
        width: 140%;
        left: -40%;
    }
}
