@import "../../../.././../assets/scss/variables";

.ts-header{
    min-height: 85px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,0.2);
    .container{
        display: flex;
        width: 100%;
        padding:0 10%;
        .navbar-header{
            .navbar-brand
            {
                img{
                    width: 165px;
                }
            }
        }
        .nav-right{
            margin-left: auto;
            ul,li{
                margin-bottom: 0; 
            }
        }
    }
}
.ts-header-new{
    min-height:75px;
    background-color: #F7F7F7;
    top:0;
    z-index: 1000;
    .shadow{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
    }
    .ts-logo{
        // width:146px;
        // min-width:146px;
        height: 38px;
    }
    .popup{
        position: absolute;
        top: 90%;
        width: 100%;
        left: 0%;
    }
}
@media (min-width: $screen-sm-max){
  .ts-container{
    padding: 0 80px!important;
  }
  .ts-header-new{
      .ts-logo{
        height:35px;
      }
      .view-type{
            i{
                opacity: 0.8;
                padding: 3px 9px;
                &.active{
                    opacity: 1;
                    background: $ts-primary-blue;
                    border-radius: 50%;
                    color: white;
                    box-shadow: 0 0 5px 0 #8EC0EC;
                }
            }
        }
        .create-btn {
            width: 100%;
            min-width:200px;
            border-radius: 20.5px;
            color: white;
            white-space: nowrap;
            background: linear-gradient(138.55deg, #A165C4 0%, #4D2370 100%);
            box-shadow: 0 2px 4px 0 #D4B1F0;
            transition: all ease 0.1s;
            &:hover{
                box-shadow: 0 4px 6px 0 #D4B1F0;
                transform:translateY(-2px);
            }
        }
        .user-menu{
            position: absolute;
            top: 145%;
            width: 300px;
            left: -42%;
            background: white;
            &:before{
                content: " ";
                width: 0;
                height: 0;
                position: absolute;
                top:-11px;
                left: 84%;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #fff;
                filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.09))
            }
        }
  }
}

:host ::ng-deep .mat-button-wrapper{
                font-size: 16px!important;
}

