@import "../../../.././../assets/scss/variables";

.ts-header{
    min-height: 85px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,0.2);
    .container{
        display: flex;
        width: 100%;
        padding:0 10%;
        .navbar-header{
            .navbar-brand
            {
                img{
                    width: 165px;
                }
            }
        }
        .nav-right{
            margin-left: auto;
            ul,li{
                margin-bottom: 0; 
            }
               
        }
    }
}
.ts-header-new{
    min-height:75px;
    background-color: #F7F7F7;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
    .search-container{
        height: 44px;
        border-radius: 2px;
        background-color: #EDEDED;
        .left-section{
            border-right: 1px solid rgba(151, 151, 151, 0.3);
        }
    }
    .ts-logo{
        width:136px;
        min-width:136px;
        min-height: 31px;
    }
    .view-type{
        i{
            opacity: 0.8;
            padding: 3px 9px;
            &.active{
               opacity: 1;
               background: $ts-primary-blue;
               border-radius: 50%;
               color: white;
               box-shadow: 0 0 5px 0 #8EC0EC;
            }
        }
    }
    .create-btn {
        width: 100%;
        border-radius: 20.5px;
        color: white;
        white-space: nowrap;
        background: linear-gradient(138.55deg, #A165C4 0%, #4D2370 100%);
        box-shadow: 0 2px 4px 0 #D4B1F0;
    }
}
@media (min-width: $screen-sm-max){
  .ts-container{
    padding: 0 80px!important;
  }
}
:host ::ng-deep .mat-button-wrapper{
                font-size: 16px!important;
}

