<nav class="ts-header flex align-items-center">
    <div class="container flex align-items-center">
        <div class="navbar-header">
            <a class="navbar-brand flex align-items-center" href="/">
                <img src="assets/images/ts-logo.png" alt="Townscript Event Ticketing Logo"
                    title="Townscript Event Ticketing Logo" />
            </a>
        </div>
        <div id="navbar" class="nav-right hidden-xs">
            <ul>
                <li>
                    <a href="/signup" ts-data-analytics prop-event="click" eventLabel="Get Started"
                        prop-clicked-location="Animated Header">
                        <ts-button text="Create Event"></ts-button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>