/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/dist/base.css";
@import "tailwindcss/dist/components.css";
@import "tailwindcss/dist/utilities.css";

$mdi-font-path: "~@mdi/font/fonts";
@import "~@mdi/font/scss/materialdesignicons";


$mat-form-field-width: 100%;
@import "~@townscript/elements/elements-theme";


@import "assets/scss/fonts";
@import "assets/scss/variables";
@import "assets/scss/mixins/responsive-visibility";
@import "assets/scss/responsive-utilities";
@import "assets/scss/type";
@import "assets/scss/base";
@import "assets/scss/offsets";
@import "assets/scss/flex";
@import "assets/scss/animations";
html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }
*{
    box-sizing: border-box
}
.container{
  max-width: none!important;
}
.ts-container{
  padding: 0 10px!important;
}
input:focus{
  outline:none!important;
}
@media (min-width: $screen-sm-max){
  .ts-container{
    padding: 0 80px!important;
  }
}